.column {
  background: var(--COLOR-GRAY-DARK);
  color: #fff;
  width: 33%;
  max-width: 20rem;
  margin: 0;
  border-radius: 4px;
  padding: 0.5rem;
  flex-grow: 1;
  border: dashed transparent 1px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.titleWrapper button {
  all: unset;
  color: black;
  background: white;
  padding: 0.5rem;
  border-radius: 4px;
  height: fit-content;
  cursor: pointer;
}

.titleWrapper button:hover {
  background: var(--COLOR-GRAY-LIGHT);
}
